.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.rosybrown {
    background-color: rosybrown;
}

.tomato {
    background-color: tomato;
}

.indigo {
    background-color: indigo;
}

.olive {
    background-color: olive;
}

.aqua {
    background-color: aqua;
}
